<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="T" class="org.example.pojo.Triangle"></bean>
    <bean id="T1" class="org.example.pojo.Triangle">
        <constructor-arg value="10"></constructor-arg>
        <constructor-arg value="20"></constructor-arg>
    </bean>
    <bean id="T2" class="org.example.pojo.Triangle">
        <constructor-arg value="100"></constructor-arg>
        <constructor-arg value="200"></constructor-arg>
        <constructor-arg value="150"></constructor-arg>
    </bean>

</beans>

